*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
.BookTicketContainer{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
.card{
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* padding: 1rem; */
}

.Heading{
    text-align: center;
    text-decoration: underline .3rem solid blue;
    cursor: pointer;
}
@media (max-width:1000px)
{
.BookTicketContainer{
    grid-template-columns: repeat(3,1fr);
}
}
@media (max-width:700px)
{
    .BookTicketContainer{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:400px)
{
    .BookTicketContainer{
        grid-template-columns: repeat(1,1fr);
    }
}
